In [7]:
## Imports
import pandas as pd
import numpy as np
import os
import pickle
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import __version__ as sklearn_version
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split, cross_validate, GridSearchCV, learning_curve
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.dummy import DummyRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.feature_selection import SelectKBest, f_regression
import datetime

from library.sb_utils import save_file

In [10]:
df = pd.DataFrame(pd.read_excel("features.xlsx"))

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 62 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   TextID             1000 non-null   object
 1   URL                1000 non-null   object
 2   Label              1000 non-null   object
 3   totalWordsCount    1000 non-null   int64
 4   semanticobjscore   1000 non-null   int64
 5   semanticsubjscore  1000 non-null   int64
 6   CC                 1000 non-null   int64
 7   CD                 1000 non-null   int64
 8   DT                 1000 non-null   int64
 9   EX                 1000 non-null   int64
 10  FW                 1000 non-null   int64
 11  INs                1000 non-null   int64
 12  JJ                 1000 non-null   int64
 13  JJR                1000 non-null   int64
 14  JJS                1000 non-null   int64
 15  LS                 1000 non-null   int64
 16  MD                 1000 non-null   int64
 17  NN                 1000 non-null   int64
 18  NNP                1000 non-null   int64
 19  NNPS               1000 non-null   int64
 20  NNS                1000 non-null   int64
 21  PDT                1000 non-null   int64
 22  POS                1000 non-null   int64
 23  PRP                1000 non-null   int64
 24  PRP$               1000 non-null   int64
 25  RB                 1000 non-null   int64
 26  RBR                1000 non-null   int64
 27  RBS                1000 non-null   int64
 28  RP                 1000 non-null   int64
 29  SYM                1000 non-null   int64
 30  TOs                1000 non-null   int64
 31  UH                 1000 non-null   int64
 32  VB                 1000 non-null   int64
 33  VBD                1000 non-null   int64
 34  VBG                1000 non-null   int64
 35  VBN                1000 non-null   int64
 36  VBP                1000 non-null   int64
 37  VBZ                1000 non-null   int64
 38  WDT                1000 non-null   int64
 39  WP                 1000 non-null   int64
 40  WP$                1000 non-null   int64
 41  WRB                1000 non-null   int64
 42  baseform           1000 non-null   int64
 43  Quotes             1000 non-null   int64
 44  questionmarks      1000 non-null   int64
 45  exclamationmarks   1000 non-null   int64
 46  fullstops          1000 non-null   int64
 47  commas             1000 non-null   int64
 48  semicolon          1000 non-null   int64
 49  colon              1000 non-null   int64
 50  ellipsis           1000 non-null   int64
 51  pronouns1st        1000 non-null   int64
 52  pronouns2nd        1000 non-null   int64
 53  pronouns3rd        1000 non-null   int64
 54  compsupadjadv      1000 non-null   int64
 55  past               1000 non-null   int64
 56  imperative         1000 non-null   int64
 57  present3rd         1000 non-null   int64
 58  present1st2nd      1000 non-null   int64
 59  sentence1st        1000 non-null   int64
 60  sentencelast       1000 non-null   int64
 61  txtcomplexity      1000 non-null   int64
dtypes: int64(59), object(3)
memory usage: 484.5+ KB

In [12]:
# Identify missing values:
missing = pd.concat([df.isnull().sum(), 100 * df.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by='count')

               count    %
TextID             0  0.0
VBD                0  0.0
VBG                0  0.0
VBN                0  0.0
VBP                0  0.0
...              ...  ...
RBR                0  0.0
RBS                0  0.0
RP                 0  0.0
LS                 0  0.0
txtcomplexity      0  0.0

[62 rows x 2 columns]

In [13]:
# categorical features
df.select_dtypes(object)

       TextID                                                URL       Label
0    Text0001  http://msn.foxsports.com/foxsoccer/mexico/stor...   objective
1    Text0002  http://msn.foxsports.com/foxsoccer/premierleag...   objective
2    Text0003  http://uk.eurosport.yahoo.com/04022011/58/fed-...   objective
3    Text0004  http://uk.eurosport.yahoo.com/07022011/58/bund...   objective
4    Text0005  http://uk.eurosport.yahoo.com/05022011/58/fed-...   objective
..        ...                                                ...         ...
995  Text0996  http://www.nba.com/pistons/news/blaha_090313.html  subjective
996  Text0997  http://www.nba.com/pistons/news/smashing_succe...  subjective
997  Text0998  http://www.foxsportswest.com/01/07/13/Hypocrit...  subjective
998  Text0999  http://www.football365.com/f365-features/84318...  subjective
999  Text1000  http://www.nba.com/pistons/features/blaha_1103...  subjective

[1000 rows x 3 columns]